body{
    margin: 0;
    padding: 0;
    font-family: "Barlow Condensed", sans-serif;
}
.nav{
    /* background: pink; */
    display: flex;
    padding: 10px 30px;
    min-height: 5vh;
}
.wrapper{
    background-image: url("../images/background.svg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 150%;
    background-position-x: 200px;
    background-position-y: -140px;
}
.toggle{
    display: flex;
    margin-left: auto;
}

.nav-hamburger{
    margin-top: 10px;
}

@media screen and (min-width: 600px){
    .nav-hamburger{
        display: none;
    }
}

.nav-link ul{
    display: flex;
    list-style: none;
}

.nav-link ul li a{
    text-decoration: none;
    color: black;
    margin-right: 40px;
}

.nav-link ul li a:hover {
    border-bottom: 2px solid black;
    transition: all 0.5s ease-in-out;
    padding: 2px;
}

@media screen and (max-width: 600px){
    .nav-link{
        display: none;
    }  
}

.content{
    overflow-x: hidden;
}
.img{
    min-height: 50vh;
    /* background: pink; */
}
.img-img{
    width: 140%;
    margin-top: 50px;
    margin-left: 10px;
}